body {
  background-color: #3D2E31;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial
}

.container {
  text-align: center;
}

.center {
  font-size: 2em; /* Ajustez la taille du texte selon vos besoins */
  color: #EC6408;
  height: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

.button-bar {
  padding-top: 20px;
}

.reload-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  color: #F6AD83;
  background-color: #EC6408;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.reload-button:hover {
  background-color: #F6AD83;
  color: #EC6408;
}

footer {
  background-color: #EC6408; /* Couleur de fond de la charte */
  color: #F6AD83; /* Couleur de texte utilisée précédemment */
  text-align: center; /* Centrer le texte */
  padding: 10px 0; /* Espacement vertical */
  font-family: Arial, sans-serif; /* Police Arial */
  font-size: 1.2em; /* Taille légèrement augmentée pour visibilité */
  position: fixed; /* Fixer le footer en bas de la page */
  bottom: 0; /* Positionner en bas */
  width: 100%; /* Prendre toute la largeur */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); /* Légère ombre pour donner du relief */
}

footer:hover {
  background-color: #F6AD83; /* Inverse la couleur de fond */
  color: #EC6408; /* Inverse la couleur du texte */
}
